:root {
  --bg: #121212;
  --black: #121212;
  --feat: #FF3E00;
  --overlay: rgba(0,0,0,0.55);
  --subtle: rgba(255,255,255,0.20);
}
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Cabin", sans-serif;
  background-color: var(--bg);
  color: #fff;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
a {
  display: inline-block;
  text-decoration: none;
  text-underline-offset: 2px;
}
ul {
  list-style: none;
  padding-left: unset;
}
h1, h2, h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  line-height: 1.2;
}
h1 {
  font-size: calc(36 / 16 * 1rem);
}

/* Classes */
.wrap {
  margin: 0 auto;
  padding: 0 20px;
}
.btn {
  color: #fff;
  border: 1px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  transition: 250ms;
}
.btn:hover {
  background-color: #fff;
  color: var(--black);
  transition: 125ms;
}