:root {
  --bg: #121212;
  --feat: #FF3E00;
}
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Cabin", sans-serif;
  background-color: var(--bg);
  color: #fff;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
h1, h2, h3 {
  font-family: "Roboto Condensed", sans-serif;
}
h1 {
  font-size: calc(36 / 16 * 1rem);
}

/* Classes */
.wrap {
  margin: 0 auto;
  padding: 0 40px;
}